# Fundamental Python - Data wrangling and analysis using Pandas

This tutorial is based on Russ Poldrack's [PythonForRUsers](https://github.com/poldrack/PythonForRUsers) tutorials and is adpated to a Python-only tutorial by Shao-Fang Wang (2020).  

Many people have contributed to developing and revising the R tutorial material (which is what this Python tutorial is based on) over the years: 
Anna Khazenzon, Cayce Hook, Paul Thibodeau, Mike Frank, Benoit Monin, Ewart Thomas, Michael Waskom, Steph Gagnon, Dan Birman, Natalia Velez, Kara Weisman, Andrew Lampinen, Joshua Morris, Yochai Shavit, Jackie Schwartz, Arielle Keller, and Leili Mortazavi.    

--- 
In this notebook we will explore how to use the Pandas library to work with data. 
First we need to import some necessary libraries.

In [1]:
import pandas
import numpy
from pprint import pprint

## Data types in Pandas

Pandas is one of the best options for working with tabular data in Python. There are two main types of data structures in Pandas that we will need to use: Series, and DataFrames. The DataFrame is the way Pandas represents a table, and Series is the data-structure Pandas uses to represent a column.

Pandas is built on top of the Numpy library, which in practice means that most of the methods defined for Numpy Arrays apply to Pandas Series/DataFrames.

What makes Pandas so attractive is the powerful interface to access individual records of the table, proper handling of missing values, and relational-databases operations between DataFrames.

## DataFrame

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet. It is the most commonly used pandas object. 
We will spend a good bit of time on DataFrames because of their importance.  We will move to working with real data shortly, but we will start with a simple example.

Let's create a DataFrame in Python.  There are various ways to get data into a dataframe - in this case we will specify them as a dictionary to the ```pandas.DataFrame()``` function.

In [2]:
x = numpy.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
y = x * 2 + 3
group = ['1','1','2','2','1','1','2','2','2']

df = pandas.DataFrame({'x': x, 'y': y, 'group': group})

First, we would like to check out the data. Here are some useful ways to view DataFrame:

In [3]:
#Check out all the column names
df.columns

Index([u'group', u'x', u'y'], dtype='object')

In [4]:
# summarize the variables in the DataFrame
df.describe()

              x          y
count  9.000000   9.000000
mean   5.000000  13.000000
std    2.738613   5.477226
min    1.000000   5.000000
25%    3.000000   9.000000
50%    5.000000  13.000000
75%    7.000000  17.000000
max    9.000000  21.000000

In [5]:
#check the dimension of the dataframe (one of the common ways to do sanity checks)
df.shape

(9, 3)

You can also view the top or the end of the DataFrame by using `.head()` and `.tail()`. By default, it will display the first/last 5 rows. You can put number of rows you would like to view in the parentheses.

In [6]:
#useful way to view the top (first 5 rows) of the dataframe
df.head()

#try df.head(11)

  group  x   y
0     1  1   5
1     1  2   7
2     2  3   9
3     2  4  11
4     1  5  13

In [7]:
#useful way to view the end (last 5 rows) of the dataframe
df.tail()

  group  x   y
4     1  5  13
5     1  6  15
6     2  7  17
7     2  8  19
8     2  9  21

### Indexing columns

There are several different ways to access specific elements of a Pandas DataFrame.  First, let's look at accessing the columns. There are two ways to access a column by name: using the dot notation or putting its name in brackets.

In [8]:
# access one of the variables in the DataFrame
# note that this becomes a pandas Series
print(df.y)
print(df['y'])

0     5
1     7
2     9
3    11
4    13
5    15
6    17
7    19
8    21
Name: y, dtype: int64
0     5
1     7
2     9
3    11
4    13
5    15
6    17
7    19
8    21
Name: y, dtype: int64

The columns can also be accessed based on their numeric position. This is done using the ```.iloc``` operator to the DataFrame. The first dimension in the iloc argument refers to the row, and the second to the column.  Thus, if we wanted to access the first three elements in the second columns, we would use:

In [9]:
df.iloc[:3, 1]  # columns are indexed from zero, so 1 refers to the second column

0    1
1    2
2    3
Name: x, dtype: int64

Here, you can see that we use `:` on its own to mean all columns.

In [10]:
df.iloc[2, :]  # columns are indexed from zero, so 1 refers to the second column

group    2
x        3
y        9
Name: 2, dtype: object

### Indexing rows

There are two different ways to access a row in a Pandas DataFrame. 

The first you have already seen in the previous section, using the ```.iloc``` operator to index them numerically based on their position in the array.  

The second relies upon the DataFrame's index, using the ```.loc``` operator.  Let's say that we want to extract the third row, which in this case has an index value of 2.  We could do that as follows:

In [11]:
print(df.loc[2])

group    2
x        3
y        9
Name: 2, dtype: object

Often we would like a more descriptive index.  For example, let's say that our nine rows refer to nine different cities in California.  We can set the index using the ```index``` operator:

In [12]:
df.index = ['Los Angeles', 'Santa Barbara', 'Sacramento', 'Bakersfield', 
            'San Francisco','Santa Cruz','Santa Barbara','Oakland','San Diego']
print(df)

              group  x   y
Los Angeles       1  1   5
Santa Barbara     1  2   7
Sacramento        2  3   9
Bakersfield       2  4  11
San Francisco     1  5  13
Santa Cruz        1  6  15
Santa Barbara     2  7  17
Oakland           2  8  19
San Diego         2  9  21

Now, if we want to access the data for Sacremento, we can do that using the ```.loc``` operator:

In [13]:
df.loc['Sacramento']

group    2
x        3
y        9
Name: Sacramento, dtype: object

In [14]:
##Apply your knowledge
#Can you select all columns for Bakersfield using .iloc?



#Can you select all columns for Bakersfield using .loc?



#Can you select the column group from the DataFrame?

#Answer:
#df.iloc[3,:]
#df.loc['Bakersfield']
#df.group
#df['group']
#df.iloc[:,2]

### Data Wrangling
#### Filtering values in DataFrame
There are many ways to filter a DataFrame. Here are a few examples for different situations.  
1. We can filter rows of a DataFrame by values in a certain column. This type of filteirng can be done by using equality operator (`==`) and comparison operators (`>`,`<`). We first identify rows that are True to the condition and pass this information within the DataFrame to select the rows corresponding to True.

In [15]:
#Which values in column x are larger than 5?
df['x']>5

Los Angeles      False
Santa Barbara    False
Sacramento       False
Bakersfield      False
San Francisco    False
Santa Cruz        True
Santa Barbara     True
Oakland           True
San Diego         True
Name: x, dtype: bool

In [16]:
#Filter out these rows from the DataFrame
new_filter_data = df[df['x']>5]
new_filter_data

              group  x   y
Santa Cruz        1  6  15
Santa Barbara     2  7  17
Oakland           2  8  19
San Diego         2  9  21

2. We can also use `.isin()` function to check whether each elemnt in a certain column is contained in values. Every element in the specified column will be checked to see whether it is in the list:

In [17]:
#check whether elements in column x contains 6 or 7
df['x'].isin([6,7])

Los Angeles      False
Santa Barbara    False
Sacramento       False
Bakersfield      False
San Francisco    False
Santa Cruz        True
Santa Barbara     True
Oakland          False
San Diego        False
Name: x, dtype: bool

Then, we can use the Boolean output to filter the DataFrame:

In [18]:
df[df['x'].isin([6, 7])]

              group  x   y
Santa Cruz        1  6  15
Santa Barbara     2  7  17

3. We can also subset the DataFrame rows or columns according to the specified index labels using `filter`.

In [19]:
#like: keep labels from axis for which “like in label == True”.
#axis: the axis to filter on -- 0 or ‘index’, 1 or ‘columns’, None
df.filter(like = 'San',axis = 0)

              group  x   y
Santa Barbara     1  2   7
San Francisco     1  5  13
Santa Cruz        1  6  15
Santa Barbara     2  7  17
San Diego         2  9  21

In [20]:
#Apply your knoowledge 
#Please select the rows that x >5 and in group 1







#Answer:
#df[(df['x']>5) & (df['group']=='1')]

#### Adding columns/rows to a DataFrame
We can use `dataframe.append()` function to append rows of other DataFrame to the end of the given DataFrame, returning a new DataFrame object. Columns not in the original DataFrames are added as new columns and the new cells are populated with NaN value.

In [21]:
new_row = pandas.Series({'x':1, 'y':5,'group':'1'})
new_row.name = 'San Jose'
df = df.append(new_row)
df

              group  x   y
Los Angeles       1  1   5
Santa Barbara     1  2   7
Sacramento        2  3   9
Bakersfield       2  4  11
San Francisco     1  5  13
Santa Cruz        1  6  15
Santa Barbara     2  7  17
Oakland           2  8  19
San Diego         2  9  21
San Jose          1  1   5

To add a new column to a DataFrame, we can declare a new list or a new pandas.Series (see Series in Pandas section) as a column.

In [22]:
df['new']=df['y']*2+1
type(df['y']*2+1)
df.head()

              group  x   y  new
Los Angeles       1  1   5   11
Santa Barbara     1  2   7   15
Sacramento        2  3   9   19
Bakersfield       2  4  11   23
San Francisco     1  5  13   27

#### Group By: split-apply-combine
We can use `groupby` operation to 
1. split the data into groups based on some cirteria: pass the name of the column you want to group on in `groupby()`
2. apply a function to each group independently: `mean()`, `count()`, `median()`, etc
3. combine the results into data structure. 

This can be used to group large amounts of data and compute operations on these groups.

In [23]:
#separate our DataFrame into groups according to the column group
#calculate mean values for each group, each column
mean_group = df.groupby('group').mean()
print(mean_group)

         x     y   new
group
1      3.0   9.0  19.0
2      6.2  15.4  31.8

In [24]:
#Apply your knowledge
#Calculate the count of each group




#Answer:
#df.groupby('group').count()

We can use `[column name]` after `groupby()` to specify the columns on which we would like to perform the function:

In [25]:
mean_groupx = df.groupby('group')['x'].mean()
print(mean_groupx)

group
1    3.0
2    6.2
Name: x, dtype: float64

To perform multiple basic functions, we can use `dataframe.aggregate()`:

In [26]:
df.groupby('group')['x'].aggregate(['mean','min'])
#df.groupby('group')['x'].aggregate(['mean']) is the same as df.groupby('group')['x'].mean()

       mean  min
group
1       3.0    1
2       6.2    3

However, functions that are available for `aggregate()` are limited. Here are the 13 aggregating functions available in pandas:
* mean(): Compute mean of groups
* sum(): Compute sum of group values
* size(): Compute group sizes
* count(): Compute count of group
* std(): Standard deviation of groups
* var(): Compute variance of groups
* sem(): Standard error of the mean of groups
* describe(): Generates descriptive statistics
* first(): Compute first of group values
* last(): Compute last of group values
* nth() : Take nth value, or a subset if n is a list
* min(): Compute min of group values
* max(): Compute max of group values

To be more flexible, we can use `apply` function which applyes a function along an axis of the DataFrame.

Objects passed to the function are Series objects whose index is either the DataFrame’s index (axis=0) or the DataFrame’s columns (axis=1). By default (result_type=None), the final return type is inferred from the return type of the applied function. Otherwise, it depends on the result_type argument.

In [27]:
#let's reset the index 
df = df = df.reset_index().rename(columns={'index': 'city'})
df

            city group  x   y  new
0    Los Angeles     1  1   5   11
1  Santa Barbara     1  2   7   15
2     Sacramento     2  3   9   19
3    Bakersfield     2  4  11   23
4  San Francisco     1  5  13   27
5     Santa Cruz     1  6  15   31
6  Santa Barbara     2  7  17   35
7        Oakland     2  8  19   39
8      San Diego     2  9  21   43
9       San Jose     1  1   5   11

In [28]:
#define a function 
def subfunc(input_df):
    input_df['max_xvalues'] = max(input_df.x)
    input_df['min_xvalues'] = min(input_df.x)
    input_df['meanx_sub_meany'] = numpy.mean(input_df.x)-numpy.mean(input_df.y)
    return input_df
#apply the function to each group
df.groupby('group').apply(subfunc)

            city group  x   y  new  max_xvalues  min_xvalues  meanx_sub_meany
0    Los Angeles     1  1   5   11            6            1             -6.0
1  Santa Barbara     1  2   7   15            6            1             -6.0
2     Sacramento     2  3   9   19            9            3             -9.2
3    Bakersfield     2  4  11   23            9            3             -9.2
4  San Francisco     1  5  13   27            6            1             -6.0
5     Santa Cruz     1  6  15   31            6            1             -6.0
6  Santa Barbara     2  7  17   35            9            3             -9.2
7        Oakland     2  8  19   39            9            3             -9.2
8      San Diego     2  9  21   43            9            3             -9.2
9       San Jose     1  1   5   11            6            1             -6.0

## Reading and working with data

Now, let's read a real dataset from disk and show how we would work with it using Pandas.

We will use a real dataset from [Eisenberg et al, 2019](nature.com/articles/s41467-019-10301-1), which contains data for 522 individuals on 192 variables derived from a set of psychological tasks.  Let's say that we want to know whether the stop signal reaction time (SSRT - measured across several different tasks) is related to self-reported impulsivity (as measured using a number of different surveys).  

First we load the data.  The subject codes are contained in the first column, and we tell pandas to use those codes as the index for the DataFrame.

In [29]:
data = pandas.read_csv('./data/meaningful_variables_clean.csv', index_col=0)

Once we have loaded the data, let's take a look at the DataFrame:

In [30]:
#Apply your knowledge
#how to check the first few rows of the DataFrame? (take a look at the data)?


#how to see column names of a DataFrame?



#Answer:
#data.head()
#data.columns

To perform our analysis, we need to select the variables that we will use for the analysis. First, let's find the SSRT variables.  To do this, we will loop through all of the variable names and find the ones that include "ssrt".

Let's loop through all of the column names and save the ones that have 'ssrt' in their name.  We will learn more about processing strings in a later section; here we will introduce the ```.find()``` operator that is present for strings.  This operator tells us the location of a particular string within another string, or returns -1 if the string is not present.  For example:

In [31]:
a = 'This is a string'
print(a.find('is'))
print(a.find('number'))

2
-1

Let's find out all column names that contain ".SSRT":

In [32]:
#First find SSRT variables
#Use what you have learned to check all column names to see which ones contain '.SSRT' 
#and save the names to ssrt_variables
ssrt_variables = []  # empty list to save names
#hint: s.append(x): appends x to the end of the sequence
#advance: can you use one line of code to achieve th goal (hint:list comprehension)?
#advance: can you use .filter function?








#Answer:
# for c in data.columns:
#     if c.find('.SSRT') > -1:
#         ssrt_variables.append(c)
        
# print(ssrt_variables)


#ssrt_variables = [c for c in data.columns if ".SSRT" in c]
#data.filter(like = '.SSRT',axis = 1)

So far we have found the variables of interest for SSRT.  However, if we want to find other variables of interest, we need to repeate the same code, which is in bad form.  What we should do instead is find a way to loop through the variables we are interested in, so that if we decide that we want to add more then we can do that easily later.  First, we should set up a dictionary that contains all of the search strings for each data type.

In [33]:
search_strings = {
    'SSRT': '.SSRT',
    'BIS-11': 'bis11',
    'UPPS-P': 'upps',
    'Dickman': 'dickman'
}
print(search_strings)

{'Dickman': 'dickman', 'BIS-11': 'bis11', 'SSRT': '.SSRT', 'UPPS-P': 'upps'}

Now let's adapt the code above to loop through the different variables.  Tip: Putting a dictionary as the sequence in a for loop causes it to loop over all of the keys in the dictionary.

In [34]:
variable_names = {}
variables_to_keep=[]#collect all the variable names to select them from the DataFrame
for ss in search_strings:#loop through the keys in the dictionary
    variable_names[ss] = []  # create empty list to store matching names for this string
    for c in data.columns:#loop through the column names
        if c.find(search_strings[ss]) > -1:
            variable_names[ss].append(c)
            variables_to_keep.append(c)#collect all column names that meet our criteria

pprint(variable_names)
print(variables_to_keep)

{'BIS-11': ['bis11_survey.Attentional',
            'bis11_survey.Motor.logTr',
            'bis11_survey.Nonplanning'],
 'Dickman': ['dickman_survey.functional'],
 'SSRT': ['motor_selective_stop_signal.SSRT',
          'stim_selective_stop_signal.SSRT',
          'stop_signal.SSRT_high.logTr',
          'stop_signal.SSRT_low'],
 'UPPS-P': ['upps_impulsivity_survey.lack_of_perseverance',
            'upps_impulsivity_survey.lack_of_premeditation',
            'upps_impulsivity_survey.negative_urgency',
            'upps_impulsivity_survey.positive_urgency',
            'upps_impulsivity_survey.sensation_seeking']}
['dickman_survey.functional', 'bis11_survey.Attentional', 'bis11_survey.Motor.logTr', 'bis11_survey.Nonplanning', 'motor_selective_stop_signal.SSRT', 'stim_selective_stop_signal.SSRT', 'stop_signal.SSRT_high.logTr', 'stop_signal.SSRT_low', 'upps_impulsivity_survey.lack_of_perseverance', 'upps_impulsivity_survey.lack_of_premeditation', 'upps_impulsivity_survey.negative_urgency', 'upps_impulsivity_survey.positive_urgency', 'upps_impulsivity_survey.sensation_seeking']

Now that we have found all of the relevant variables, let's create a new DataFrame that only includes those variables.  We have already created a list with all of the matching variables in the above for loops (`variables_to_keep`). Now we can use the list to filter the DataFrame for these columns.

In [35]:
data_selected = data[variables_to_keep]
data_selected.columns
data_selected.shape

(522, 13)

Now, let's clean up the data. If we want to know which cells contain na values, we can use `.isna()` to identify all the na values in a DataFrame. We can also use `.fillna` to replace the na values with other values.

In [36]:
print(data_selected.isna().tail())

      dickman_survey.functional  bis11_survey.Attentional  \
s554                      False                     False
s556                      False                     False
s557                      False                     False
s559                      False                     False
s560                      False                     False

      bis11_survey.Motor.logTr  bis11_survey.Nonplanning  \
s554                     False                     False
s556                     False                     False
s557                     False                     False
s559                     False                     False
s560                     False                     False

      motor_selective_stop_signal.SSRT  stim_selective_stop_signal.SSRT  \
s554                              True                            False
s556                              True                            False
s557                              True                             True
s559                             False                            False
s560                             False                            False

      stop_signal.SSRT_high.logTr  stop_signal.SSRT_low  \
s554                        False                 False
s556                         True                  True
s557                         True                  True
s559                        False                 False
s560                        False                 False

      upps_impulsivity_survey.lack_of_perseverance  \
s554                                         False
s556                                         False
s557                                         False
s559                                         False
s560                                         False

      upps_impulsivity_survey.lack_of_premeditation  \
s554                                          False
s556                                          False
s557                                          False
s559                                          False
s560                                          False

      upps_impulsivity_survey.negative_urgency  \
s554                                     False
s556                                     False
s557                                     False
s559                                     False
s560                                     False

      upps_impulsivity_survey.positive_urgency  \
s554                                     False
s556                                     False
s557                                     False
s559                                     False
s560                                     False

      upps_impulsivity_survey.sensation_seeking
s554                                      False
s556                                      False
s557                                      False
s559                                      False
s560                                      False

In [37]:
print(data_selected.fillna(0).head())#this is replacing NA with 0

      dickman_survey.functional  bis11_survey.Attentional  \
s001                   2.000000                  2.533333
s002                   1.363636                  5.000000
s003                   1.545455                  4.266667
s004                   1.545455                  2.333333
s005                   1.727273                  3.533333

      bis11_survey.Motor.logTr  bis11_survey.Nonplanning  \
s001                  0.985284                  3.300000
s002                  1.377326                  5.466667
s003                  1.272966                  4.766667
s004                  1.074515                  4.466667
s005                  1.252763                  3.633333

      motor_selective_stop_signal.SSRT  stim_selective_stop_signal.SSRT  \
s001                          0.000000                       337.833333
s002                          0.000000                       291.333333
s003                        332.666667                       402.166667
s004                        231.833333                       282.000000
s005                        344.166667                       432.666667

      stop_signal.SSRT_high.logTr  stop_signal.SSRT_low  \
s001                     5.651904            271.500000
s002                     5.678465            323.666667
s003                     0.000000              0.000000
s004                     5.513429            281.500000
s005                     5.520127            302.500000

      upps_impulsivity_survey.lack_of_perseverance  \
s001                                           1.5
s002                                           1.5
s003                                           2.4
s004                                           1.5
s005                                           1.7

      upps_impulsivity_survey.lack_of_premeditation  \
s001                                       1.909091
s002                                       2.090909
s003                                       2.363636
s004                                       1.636364
s005                                       1.363636

      upps_impulsivity_survey.negative_urgency  \
s001                                  1.583333
s002                                  3.000000
s003                                  3.000000
s004                                  1.583333
s005                                  1.750000

      upps_impulsivity_survey.positive_urgency  \
s001                                  2.142857
s002                                  3.285714
s003                                  2.785714
s004                                  1.142857
s005                                  1.000000

      upps_impulsivity_survey.sensation_seeking
s001                                   3.416667
s002                                   3.083333
s003                                   2.833333
s004                                   1.916667
s005                                   2.833333

We can remove all of the missing data, using the ```.dropna()``` operator.

In [38]:
data_selected = data[variables_to_keep]
data_selected = data_selected.dropna()
print(data_selected.shape)

(320, 13)

The adventage of using dictionary is that we can flexiblely select columns based on the column name groups. For example, now we can compute the average of all SSRT variables and the average of all of the impulsivity variables.

In [39]:
data_selected['mean_SSRT'] = data_selected[variable_names['SSRT']].mean(axis=1)
data_selected.head()

,dickman_survey.functional,bis11_survey.Attentional,bis11_survey.Motor.logTr,bis11_survey.Nonplanning,motor_selective_stop_signal.SSRT,stim_selective_stop_signal.SSRT,stop_signal.SSRT_high.logTr,stop_signal.SSRT_low,upps_impulsivity_survey.lack_of_perseverance,upps_impulsivity_survey.lack_of_premeditation,upps_impulsivity_survey.negative_urgency,upps_impulsivity_survey.positive_urgency,upps_impulsivity_survey.sensation_seeking,mean_SSRT
s004,1.545455,2.333333,1.074515,4.466667,231.833333,282.000000,5.513429,281.500000,1.5,1.636364,1.583333,1.142857,1.916667,200.211691
s005,1.727273,3.533333,1.252763,3.633333,344.166667,432.666667,5.520127,302.500000,1.7,1.363636,1.750000,1.000000,2.833333,271.213365
s009,1.090909,4.933333,1.573070,5.300000,199.333333,225.166667,5.228431,206.500000,2.7,2.727273,3.000000,3.000000,2.333333,159.057108
s011,1.000000,2.733333,0.985284,3.800000,259.500000,193.333333,5.480639,247.666667,1.7,2.090909,2.000000,2.071429,2.166667,176.495160
s012,1.454545,4.400000,1.200395,4.400000,347.166667,303.000000,5.619192,295.666667,1.9,1.454545,2.333333,2.000000,1.333333,237.863131

In [40]:
# create a list containing all of the variables except those for SSRT
# using set operations

impulsivity_variables = set(variables_to_keep).difference(variable_names['SSRT'])
impulsivity_variables

{'bis11_survey.Attentional',
 'bis11_survey.Motor.logTr',
 'bis11_survey.Nonplanning',
 'dickman_survey.functional',
 'upps_impulsivity_survey.lack_of_perseverance',
 'upps_impulsivity_survey.lack_of_premeditation',
 'upps_impulsivity_survey.negative_urgency',
 'upps_impulsivity_survey.positive_urgency',
 'upps_impulsivity_survey.sensation_seeking'}

In [41]:
# we need to turn the set back into a list so it can be used as an index
data_selected['mean_impulsivity'] = data_selected[list(impulsivity_variables)].mean(axis=1)

Now we can compute the correlation between those two mean variables of interest, using the built-in correlation method ```.corr()```.

In [42]:
data_selected[['mean_impulsivity', 'mean_SSRT']].corr()

                  mean_impulsivity  mean_SSRT
mean_impulsivity          1.000000  -0.043986
mean_SSRT                -0.043986   1.000000

We have seen the adventage of using dictionary. However, if we only want to select variable names and do not need to access the variable names in the future, we can use `filter`.

In [43]:
data_use_filter_to_select = data.filter(regex= '\.SSRT|bis11|upps|dickman',axis = 1)
data_use_filter_to_select.columns

Index([u'bis11_survey.Attentional', u'bis11_survey.Motor.logTr',
       u'bis11_survey.Nonplanning', u'dickman_survey.functional',
       u'motor_selective_stop_signal.SSRT', u'stim_selective_stop_signal.SSRT',
       u'stop_signal.SSRT_high.logTr', u'stop_signal.SSRT_low',
       u'upps_impulsivity_survey.lack_of_perseverance',
       u'upps_impulsivity_survey.lack_of_premeditation',
       u'upps_impulsivity_survey.negative_urgency',
       u'upps_impulsivity_survey.positive_urgency',
       u'upps_impulsivity_survey.sensation_seeking'],
      dtype='object')

## Joining datasets

Often we will want to combine data that are stored in multiple files. Pandas provides tools for merging datasets using a common set of indices, using the ```.merge()``` operator.  Let's say that we want to combine our data above with some demographic data, so that we can ask whether impulsivity and SSRT are related to ever having been arrested in one's life.  These data are stored in a separate file (demographics.csv).  First we load the file:

In [49]:
#Apply your knowledge
#read in demographics.csv as a DataFrame called demogdata







#Answer:
#demogdata = pandas.read_csv('./data/demographics.csv', index_col=0)
#demogdata.head()

There is a variable called "ArrestedChargedLifeCount" that contains the self-reported number of times that a person has been arrested in their life.  Let's create a new variable that is True if the person has ever been arrested:

In [51]:
#Apply your knowledge
#column "ArrestedChargedLifeCount" contains the number of times 
#that a person has been arrested in his/her life. Use this information to create a new column called "EverArrested" 
#that is True if the person has ever been arrested.






#demogdata['EverArrested'] = demogdata.ArrestedChargedLifeCount > 0

Note: When you are referring to the value of a variable within a DataFrame, you can use either ```dataframe.VariableName``` or ```dataframe['VariableName']```.  However, when you are adding a new variable to a DataFrame, you must use the latter syntax.

Now let's join the new variable with the data from above.  We want to only include cases that are present in both datasets, so we use what is called an "inner join" (see [the pandas.DataFrame.join help](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html) for more on this).

In [52]:
data_selected_with_arrest = data_selected[['mean_impulsivity', 'mean_SSRT']].join(demogdata['EverArrested'], how = 'inner')
data_selected_with_arrest.head()

      mean_impulsivity   mean_SSRT  EverArrested
s004          1.911021  200.211691         False
s005          2.088186  271.213365          True
s009          2.961991  159.057108         False
s011          2.060847  176.495160         False
s012          2.275128  237.863131         False

inner: form intersection of calling frame’s index (or column if on is specified) with other’s index, preserving the order of the calling’s one.

## Grouping variables using groupby()

Now we want to summarize the data by the different groups: Arrested vs. never arrested. Here we can apply the method ```.groupby()``` we have learned previously. First let's group the data and compute the mean for each group on each variable, and then compute normal confidence intervals for each mean.

In [57]:
#Apply your knowledge
# compute means for each group/variable based on "EverAressted"



# Answer
#mean_by_group = data_selected_with_arrest.groupby('EverArrested').mean()
# print(mean_by_group)

In [58]:
# comnpute standard errors
stderr_by_group = data_selected_with_arrest.groupby('EverArrested').std()/numpy.sqrt(data_selected_with_arrest.shape[0])
print(stderr_by_group)

# compute normal confidence intervals
upper_ci = mean_by_group + stderr_by_group*1.96
upper_ci.columns = [i + '_upperCI' for i in upper_ci.columns] # fix names

lower_ci = mean_by_group - stderr_by_group*1.96
lower_ci.columns = [i + '_lowerCI' for i in lower_ci.columns] # fix names

# add back into a single DataFrame
results = pandas.concat([mean_by_group, upper_ci, lower_ci], axis=1) #, ))
# reorder the columns
result_columns = results.columns.tolist()
result_columns.sort()
results = results[result_columns]
results

              mean_impulsivity  mean_SSRT
EverArrested
False                 0.021448   1.989571
True                  0.023668   2.073708

,mean_SSRT,mean_SSRT_lowerCI,mean_SSRT_upperCI,mean_impulsivity,mean_impulsivity_lowerCI,mean_impulsivity_upperCI
EverArrested,,,,,,
False,230.255239,226.355680,234.154798,2.179763,2.137725,2.221802
True,226.701396,222.636929,230.765863,2.351907,2.305518,2.398296

Eyeballing these results, it appears that there is a difference in impulsivity between the groups.  We will return to this later when we move on to statistical inference.  Before we leave, let's save the data to a csv file so that we can read it back in when we return to this later.  This is easy using the ```.to_csv()``` method with the DataFrame.

In [62]:
data_selected_with_arrest.to_csv('./data/arrest_ssrt_impulsivity.csv')

### Series in Pandas

A Series is a one-dimensional data structure similar to an array or a list.  The main difference between a Pandas Series and a list is that the Series contains some additional indexing information.  To see how this works, let's generate some numbers and put them in a Series.

In [59]:
numpy.random.seed(12345)  # fix the random seed for reproducibility

s = pandas.Series(numpy.random.randn(5))
print(s)

0   -0.204708
1    0.478943
2   -0.519439
3   -0.555730
4    1.965781
dtype: float64

The index for this Series by default is a series of integers starting at zero.  However, we can also specify an index explicity. Let's say that our 5 numbers come from 5 different people, and we want to use their names as the index:

In [60]:
s_indexed = pandas.Series(numpy.random.randn(5),
                  index=['Lisa', 'Sue', 'Karen', 'Lucy', 'Helen'])
print(s_indexed)

Lisa     1.393406
Sue      0.092908
Karen    0.281746
Lucy     0.769023
Helen    1.246435
dtype: float64

We can also access the index directly using the ```.index``` element of the Series:

In [61]:
s_indexed.index

Index([u'Lisa', u'Sue', u'Karen', u'Lucy', u'Helen'], dtype='object')

And we can set the index using that element as well:

In [62]:
s.index = ['Lisa', 'Sue', 'Karen', 'Lucy', 'Helen']
print(s)

Lisa    -0.204708
Sue      0.478943
Karen   -0.519439
Lucy    -0.555730
Helen    1.965781
dtype: float64

A nice feature is that we can then access the data using the index:

In [63]:
# access a single element
print(s['Helen'])

# access a range of elements
print(s['Karen':'Helen'])

1.9657805725027142
Karen   -0.519439
Lucy    -0.555730
Helen    1.965781
dtype: float64

We can also index based on the values of the series --- for example, we can find all entries with values less than zero:

In [64]:
print(s[s<0])

Lisa    -0.204708
Karen   -0.519439
Lucy    -0.555730
dtype: float64

This works because ```s < 0``` returns a Boolean series, and using a Boolean series as a index to another Series will return all of the places where the Boolean series is true:

In [65]:
print(s < 0)

Lisa      True
Sue      False
Karen     True
Lucy      True
Helen    False
dtype: bool

Sometimes you may want to extract the values from a Series back into a Numpy array. You can do this using the ```.values``` element of the Series

In [66]:
s.values

array([-0.20470766,  0.47894334, -0.51943872, -0.5557303 ,  1.96578057])

You can sort the Series according to the data values using the ```.sort_values()``` function:

In [67]:
s_sorted = s.sort_values()
print(s_sorted)

Lucy    -0.555730
Karen   -0.519439
Lisa    -0.204708
Sue      0.478943
Helen    1.965781
dtype: float64

Now let's say that you wanted to only take the top three of the sorted list.

In [68]:
s_sorted[-3:]

Lisa    -0.204708
Sue      0.478943
Helen    1.965781
dtype: float64

What if you aren't sure whether an item is in the Series?

In [69]:
print('Arielle' in s)
print('Lucy' in s)

False
True

Mathematical operations can be done using scalars and functions.

In [70]:
s/10
numpy.square(s)

Lisa     0.041905
Sue      0.229387
Karen    0.269817
Lucy     0.308836
Helen    3.864293
dtype: float64

In [71]:
s2 = pandas.Series(numpy.random.randn(3),
                  index=['John', 'Jack', 'Will'])
s.append(s2)

Lisa    -0.204708
Sue      0.478943
Karen   -0.519439
Lucy    -0.555730
Helen    1.965781
John     1.007189
Jack    -1.296221
Will     0.274992
dtype: float64

In [72]:
#Apply your knowledge
#You are looking for a new phone. You obtain a list of iphones and their prices and a list of Samsung phones and their prices.
price1 = pandas.Series([799,650,999],
                  index=['iphone11', 'iphonese', 'iphone11pro'])
price2 = pandas.Series([899,780,1000,800],
                  index=['GalaxyS9', 'GalaxyS8', 'GalaxyS9plus','GalaxyS8plus'])

##Combine these two series and sort the values from low to high




##You do not want any phones that are more expensive than $850. Which phones are available now?



##You decided not to consider GalaxyS8. Can you drop GalaxyS8 from the series by its index? (google)








#Answer
# phone_price = price1.append(price2)
# phone_price_sort = phone_price.sort_values()
# phone_price_sort[phone_price_sort<850]
# phone_price_sort.drop(labels="GalaxyS8")

## Resources
There are some great tutorials on Pandas linked [here](http://www.data-analysis-in-python.org/3_pandas.html).
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.filter.html